/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/.idea/
/.vscode/

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/database/*.sqlite
!/database/.gitignore
